.breadcrumbs {

}
    .breadcrumbs__item {
        display: inline-block;
        position: relative;
        margin: 0 0 0 20px;
    }

    .breadcrumbs__item:first-child {
        margin-left: 0;
    }

    .breadcrumbs__item:before {
        content: '/';
        position: absolute;
        right: 100%;
        top: 0;
        margin: 0 8px 0 0;
    }

    .breadcrumbs__item:first-child:before {
        display: none;
    }

        .breadcrumbs__item__link {
            color: #999;
        }
