.footer {
    height: 100px;
    position: relative;
}
    .footer__copyright {
        position: absolute;
        left: 0;
        top: 30px;
    }

    .footer__developer {
        position: absolute;
        right: 0;
        top: 30px;
    }