.jcarousel {
    position: relative;
}

    .jcarousel__viewport {
        position: relative;
        overflow: hidden;
    }

        .jcarousel__viewport__list {
            width: 20000px;
            position: relative;
        }

            .jcarousel__viewport__list__item {
                float: left;
            }

    .jcarousel__pagination {

    }
        .jcarousel__pagination__item {
            display: inline-block;
            cursor: pointer;
        }

        .jcarousel__pagination__item_active {
            color: red;
            cursor: default;
        }

    .jcarousel__control {
        cursor: pointer;
    }

    .jcarousel__control_disabled {
        color: red;
        cursor: default;
    }

    .jcarousel__control_prev {

    }

    .jcarousel__control_next {

    }
        .jcarousel__control__icon {

        }


.jcarousel_vertical .jcarousel__viewport__list {
    width: auto;
    height: 20000px;
}


.jcarousel_vertical .jcarousel__viewport__list__item {
    float: none;
}
