.wysiwyg:before,
.wysiwyg:after {
    content: " ";
    display: table;
}

.wysiwyg:after {
    clear: both;
}

.wysiwyg p,
.wysiwyg ul,
.wysiwyg ol,
.wysiwyg hr,
.wysiwyg blockquote,
.wysiwyg .left-image,
.wysiwyg .right-image {
    margin: 1em 0 0;
}

.wysiwyg p:first-child,
.wysiwyg ul:first-child,
.wysiwyg ol:first-child,
.wysiwyg hr:first-child,
.wysiwyg blockquote:first-child,
.wysiwyg .left-image:first-child,
.wysiwyg .right-image:first-child {
    margin-top: 0;
}

.wysiwyg .left-image:first-child + p,
.wysiwyg .left-image:first-child + ul,
.wysiwyg .left-image:first-child + ol,
.wysiwyg .left-image:first-child + hr,
.wysiwyg .left-image:first-child + blockquote,
.wysiwyg .right-image:first-child + p,
.wysiwyg .right-image:first-child + ul,
.wysiwyg .right-image:first-child + ol,
.wysiwyg .right-image:first-child + hr,
.wysiwyg .right-image:first-child + blockquote {
    margin-top: 0;
}

.wysiwyg ul,
.wysiwyg ol {
    padding-left: 1.5em;
}

.wysiwyg ul {
    list-style: disc;
}

.wysiwyg ol {
    list-style: decimal;
}

.wysiwyg blockquote {
    margin-left: 40px;
    margin-right: 40px;
}

.wysiwyg img {
    max-width: 100%;
    height: auto;
}

.wysiwyg a {
    color: #999;
    text-decoration: underline;
}

.wysiwyg a:hover {
    text-decoration: none;
}


.wysiwyg hr {
    height: 0;
    border-top: 1px solid;
}

.wysiwyg h2 {
    font-size: 1.5em;
    line-height: 1;
    margin: 0.83em 0 0;
}

.wysiwyg h3 {
    font-size: 1.17em;
    line-height: 1.1;
    margin: 1em 0 0;
}

.wysiwyg h4 {
    font-size: 1em;
    line-height: 1.2;
    margin: 1.33em 0 0;
}

.wysiwyg h2:first-child,
.wysiwyg h3:first-child,
.wysiwyg h4:first-child {
    margin-top: 0;
}


.wysiwyg .left-image {
    float: left;
    margin-right: 34px;
    margin-bottom: 20px;
    position: relative;
    top: 9px
}
.wysiwyg .right-image {
    float: right;
    margin-left: 34px;
    margin-bottom: 20px;
    position: relative;
    top: 9px
}
