.icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    top: -1px;
    background: url(../images/sprite.png) no-repeat;
}

.icon_some-icon-title {
    width: 16px;
    height: 16px;
    background-position: -100px -100px;
}