.c-region {
	width: $region-width;
	padding-left: $region-padding;
	padding-right: $region-padding;
	margin-left: auto;
	margin-right: auto;
}

.c-ancients {
	margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}