$base-family:     $f-Helvetica;
$base-color:      #222;
$secondary-color: #444;
$heading-color:   $base-color;
$link-color:      #999;
$base-fontsize:   12px;
$base-lineheight: 18px;


html,
button,
input,
select,
textarea {
    font-family: $base-family;
    color: $base-color;
}

body {
    background: #e3e3e3 url($img-path+'background.png');
    font: #{$base-fontsize} / #{$base-lineheight} $base-family;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


a {
    color: $link-color;
    &:hover { text-decoration: none; }
}

textarea {
    resize: vertical;
}


