/* directories */
$img-path: "../images/";
$img-fixes-path: "../images/";
$font_path: "../fonts/";
   
/* base */
$base-color: #222;
$link-color: #999;
$link-hover-color: #aaa;
$headings-color: #000;

/* font-weight */
$normal: 300;
$bold: 600;
