<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Index</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic" rel="stylesheet">-->
        <link rel="stylesheet" href="../styles/style.css">
    </head>
    <body>

        <!--[if IE]>
            <div class="browserupgrade">
                Вы используете <strong>устаревший</strong> браузер. Для корректной работы этого сайта и большинства других
                Вам необходимо <a href="http://browsehappy.com/?locale=ru_RU">обновить ваш браузер</a>.
            </div>
        <![endif]-->

        <!--[if IE]>
            <div class="browserupgrade">
                You are using an <strong>outdated</strong> browser.
                Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
            </div>
        <![endif]-->

        <div class="page">
            <header class="page__head header">
                <div class="header__wrap container">
                    <a class="header__emblem logo" href="#">
                        nuqneH
                    </a>
                    <form class="header__search search">
                        <input class="search__field" type="search" placeholder="Search">
                        <button class="search__submit" type="submit">Search!</button>
                    </form>
                    <div class="header__user">
                        <a class="link mfp-handler" href="#login">Login</a>
                    </div>
                </div>
            </header>
            <nav class="page__navigation nav">
                <div class="nav__wrap container">
                    <div class="nav__list">
                        <a class="nav__link" href="#">Main</a>
                        <a class="nav__link" href="#">Catalog</a>
                        <a class="nav__link" href="#">Contacts</a>
                    </div>
                </div>
            </nav>
            <div class="page__body main">
                <div class="container main__wrap">
                    <div class="main__sidebar sidebar">
                        <ul class="sidebar__item menu">
                            <li class="menu__item">
                                <a class="menu__link" href="#">Main category</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">Secondary category</a>
                            </li>
                            <li class="menu__item">
                                <a class="menu__link" href="#">Last category</a>
                            </li>
                        </ul>
                        <div class="sidebar__item">
                            <a class="info" href="#">
                                <img class="info__content"
                                     srcset="../temp/info@2x.jpg 2x"
                                     src="../temp/info.jpg"
                                     width="280"
                                     height="400"
                                     alt=""
                                >
                            </a>
                        </div>
                        <div class="sidebar__item">
                            <ul class="downloads">
                                <li class="downloads__item">
                                    <a class="file file_kind_doc" href="#">Annual report</a>
                                </li>
                                <li class="downloads__item">
                                    <a class="file file_kind_pdf" href="#">Applicant CV</a>
                                </li>
                                <li class="downloads__item">
                                    <a class="file file_kind_xls" href="#">Price list</a>
                                </li>
                            </ul>
                            <a class="file_kind_doc" href="#"></a>
                        </div>
                    </div>
                    <div class="main__content content">
                        <div class="content__path breadcrumbs">
                            <a class="breadcrumbs__link" href="#">Index</a>
                            <span class="breadcrumbs__separator">→</span>
                            <a class="breadcrumbs__link" href="#">Blog</a>
                            <span class="breadcrumbs__separator">→</span>
                            <a class="breadcrumbs__link" href="#">News</a>
                        </div>
                        <main class="content__body">
                            <!-- unique page content -->
                            <article class="article">
                                <header class="article__summary">
                                    <h1 class="article__heading title title_importance_higher">Lorem Ipsum Dolor Sit Amen</h1>
                                    <time class="article__note" datetime="2017-12-31T19:59+04:00">Dec 31, 2017 at 23:59</time>
                                    <img class="article__preview"
                                         srcset="../temp/bliss@2x.jpg 2x"
                                         src="../temp/bliss.jpg"
                                         width="660"
                                         height="412"
                                         alt=""
                                    >
                                </header>
                                <div class="article__content wysiwyg">
                                    <h2>Suspendisse potenti</h2>
                                    <h3>Donec lacinia adipiscing quam</h3>
                                    <h4>Nulla lacinia justo at lectus</h4>
                                    <p><em>Lorem ipsum</em> dolor sit amet, consectetur adipiscing elit. Aliquam rhoncus finibus ipsum a cursus. Nullam a tincidunt est. <strong>Curabitur bibendum</strong>, tellus ac fermentum aliquam, ante dui consectetur nulla, vitae consectetur ex sem non mi. Aliquam non <a href="#">mollis urna</a>. Quisque at odio neque. Vestibulum cursus massa eu enim suscipit, at feugiat neque semper. Nulla facilisis blandit ultrices. Aenean condimentum ante vitae hendrerit mattis. Vivamus elementum non neque id molestie. Cras euismod rhoncus lorem, vel facilisis justo fringilla vel. Nulla a elit nec leo tempus rhoncus non nec.</p>
                                    <hr>
                                    <blockquote>Morbi feugiat tellus vel justo pharetra vel hendrerit tortor congue. Vivamus dui leo, porttitor eget ultricies non, tincidunt nec leo. In hac habitasse platea dictumst. Pellentesque mattis sagittis iaculis. Pellentesque lacinia neque in tortor viverra volutpat suscipit tortor placerat. Suspendisse potenti. Nulla purus tortor, hendrerit sit amet tristique ut, lacinia at nibh. Vivamus vehicula lacus id est viverra eget euismod lorem blandit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Etiam eu lacus diam, et consequat urna. Curabitur neque magna, tempus ac tristique vel, ultrices sollicitudin tellus. Pellentesque nisl mi, ullamcorper eget feugiat vitae, sodales ac tellus. Nulla venenatis dolor in eros elementum a fringilla tellus dictum. Sed lacus tellus, sollicitudin et cursus vel, mollis at est.</blockquote>
                                    <figure>
                                        <img srcset="../temp/space@2x.jpg 2x"
                                             src="../temp/space.jpg"
                                             width="580"
                                             height="362"
                                             alt=""
                                        >
                                        <figcaption>Space: the final frontier!</figcaption>
                                    </figure>
                                    <ul>
                                        <li>Nunc dapibus tristique nibh. Proin ullamcorper tortor id odio porta ornare. Cras euismod nunc non nisi dignissim eu consectetur orci pharetra. Pellentesque sit amet leo ac tellus placerat luctus ac blandit ipsum.</li>
                                        <li>Sed in ipsum nibh, varius molestie sapien. Suspendisse potenti. Nulla lacinia justo at lectus pellentesque non placerat mauris tincidunt. In non convallis nisi. Fusce gravida leo sed nulla imperdiet faucibus.</li>
                                        <li>Sed auctor ullamcorper consequat. Aliquam erat volutpat. Cras nisi ipsum, consequat ut adipiscing quis, dignissim sed eros. In hac habitasse platea dictumst. Donec sit amet leo at elit egestas laoreet at dapibus diam.</li>
                                        <li>Phasellus in tortor sapien, non feugiat urna. Mauris ut pellentesque erat. Donec lacinia adipiscing quam, faucibus aliquam velit hendrerit in. Etiam pulvinar magna sed tortor malesuada et imperdiet justo auctor.</li>
                                    </ul>
                                    <ol>
                                        <li>Nunc dapibus tristique nibh. Proin ullamcorper tortor id odio porta ornare. Cras euismod nunc non nisi dignissim eu consectetur orci pharetra. Pellentesque sit amet leo ac tellus placerat luctus ac blandit ipsum.</li>
                                        <li>Sed in ipsum nibh, varius molestie sapien. Suspendisse potenti. Nulla lacinia justo at lectus pellentesque non placerat mauris tincidunt. In non convallis nisi. Fusce gravida leo sed nulla imperdiet faucibus.</li>
                                        <li>Sed auctor ullamcorper consequat. Aliquam erat volutpat. Cras nisi ipsum, consequat ut adipiscing quis, dignissim sed eros. In hac habitasse platea dictumst. Donec sit amet leo at elit egestas laoreet at dapibus diam.</li>
                                        <li>Phasellus in tortor sapien, non feugiat urna. Mauris ut pellentesque erat. Donec lacinia adipiscing quam, faucibus aliquam velit hendrerit in. Etiam pulvinar magna sed tortor malesuada et imperdiet justo auctor.</li>
                                    </ol>
                                </div>
                                <div class="article__gallery">
                                    <div class="video">
                                        <iframe class="video__widget" width="660" height="371" src="https://www.youtube.com/embed/H2Hy96sOnq8" allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="article__additional">
                                    <table class="table">
                                        <thead class="table__section table__section_part_head">
                                            <tr class="table__row">
                                                <th class="table__cell">Title</th>
                                                <th class="table__cell">Title</th>
                                                <th class="table__cell">Title</th>
                                            </tr>
                                        </thead>
                                        <tbody class="table__section table__section_part_body">
                                            <tr class="table__row">
                                                <td class="table__cell">Cell</td>
                                                <td class="table__cell">Cell</td>
                                                <td class="table__cell">Cell</td>
                                            </tr>
                                            <tr class="table__row">
                                                <td class="table__cell">Cell</td>
                                                <td class="table__cell">Cell</td>
                                                <td class="table__cell">Cell</td>
                                            </tr>
                                            <tr class="table__row">
                                                <td class="table__cell">Cell</td>
                                                <td class="table__cell">Cell</td>
                                                <td class="table__cell">Cell</td>
                                            </tr>
                                        </tbody>
                                        <tfoot class="table__section table__section_part_foot">
                                            <tr class="table__row">
                                                <td class="table__cell" colspan="3">Footer</td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                                <footer class="article__foot">
                                    <!-- temp --><span style="display: inline-block; width: 50px; height: 22px; font-size: 14px; line-height: 22px; background-color: purple; color: #FFFFFF; text-align: center;">Like</span><!--/temp -->
                                    <a class="tag" href="#">first</a>,
                                    <a class="tag" href="#">second tag</a>
                                </footer>
                            </article>
                            <!--/unique page content -->
                        </main>
                        <div class="content__addition">
                            <form class="form">
                                <h2 class="form__heading title">
                                    Subscribe
                                </h2>
                                <div class="form__body">
                                    <div class="form__field input">
                                        <label class="input__label" for="temp-a">Label</label>
                                        <input class="input__widget" type="text" placeholder="Input field" id="temp-a">
                                    </div>
                                    <div class="form__field input input_type_area">
                                        <label class="input__label" for="temp-b">Label</label>
                                        <textarea class="input__widget" placeholder="Textarea field" id="temp-b"></textarea>
                                    </div>
                                </div>
                                <button class="form__submit button" type="submit">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <section class="page__additional-items related">
                <div class="related__wrap container">
                    <h2 class="related__heading title">
                        Related
                    </h2>
                    <div class="related__content">
                        <div class="tiles tiles_width_25pct tiles_gap_20px">
                            <div class="tiles__item">
                                <article class="unit">
                                    <a class="unit__preview" href="#">
                                        <img class="unit__image"
                                             srcset="../temp/dualshock-01@2x.jpg 2x"
                                             src="../temp/dualshock-01.jpg"
                                             width="225"
                                             height="175"
                                             alt=""
                                        >
                                    </a>
                                    <h3 class="unit__heading title title_importance_lower">
                                        <a class="unit__link" href="#">DualShock</a>
                                    </h3>
                                    <div class="unit__description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tortor nisi, rhoncus ac magna vitae, ornare blandit nibh.
                                    </div>
                                    <div class="unit__price">
                                        $100500
                                    </div>
                                </article>
                            </div>
                            <div class="tiles__item">
                                <article class="unit">
                                    <a class="unit__preview" href="#">
                                        <img class="unit__image"
                                             srcset="../temp/dualshock-02@2x.jpg 2x"
                                             src="../temp/dualshock-02.jpg"
                                             width="225"
                                             height="175"
                                             alt=""
                                        >
                                    </a>
                                    <h3 class="unit__heading title title_importance_lower">
                                        <a class="unit__link" href="#">DualShock 2</a>
                                    </h3>
                                    <div class="unit__description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tortor nisi, rhoncus ac magna vitae, ornare blandit nibh.
                                    </div>
                                    <div class="unit__price">
                                        $100500
                                    </div>
                                </article>
                            </div>
                            <div class="tiles__item">
                                <article class="unit">
                                    <a class="unit__preview" href="#">
                                        <img class="unit__image"
                                             srcset="../temp/dualshock-03@2x.jpg 2x"
                                             src="../temp/dualshock-03.jpg"
                                             width="225"
                                             height="175"
                                             alt=""
                                        >
                                    </a>
                                    <h3 class="unit__heading title title_importance_lower">
                                        <a class="unit__link" href="#">DualShock 3</a>
                                    </h3>
                                    <div class="unit__description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tortor nisi, rhoncus ac magna vitae, ornare blandit nibh.
                                    </div>
                                    <div class="unit__price">
                                        $100500
                                    </div>
                                </article>
                            </div>
                            <div class="tiles__item">
                                <article class="unit">
                                    <a class="unit__preview" href="#">
                                        <img class="unit__image"
                                             srcset="../temp/dualshock-04@2x.jpg 2x"
                                             src="../temp/dualshock-04.jpg"
                                             width="225"
                                             height="175"
                                             alt=""
                                        >
                                    </a>
                                    <h3 class="unit__heading title title_importance_lower">
                                        <a class="unit__link" href="#">DualShock 4</a>
                                    </h3>
                                    <div class="unit__description">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent tortor nisi, rhoncus ac magna vitae, ornare blandit nibh.
                                    </div>
                                    <div class="unit__price">
                                        $100500
                                    </div>
                                </article>
                            </div>
                        </div>
                    </div>
                    <div class="related__navigation">
                        <div class="pagination">
                            <a class="pagination__link pagination__link_direction_prev" href="#">←</a>
                            <a class="pagination__link" href="#">1</a>
                            <a class="pagination__link pagination__link_current" href="#">2</a>
                            <a class="pagination__link" href="#">3</a>
                            <a class="pagination__link" href="#">4</a>
                            <a class="pagination__link" href="#">5</a>
                            <span class="pagination__link pagination__link_suspend">…</span>
                            <a class="pagination__link" href="#">100500</a>
                            <a class="pagination__link pagination__link_direction_next" href="#">→</a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page__new-items arrivals">
                <div class="container arrivals__wrap">
                    <h2 class="title title_importance_higher title_uppercase arrivals__title">
                        New Arrivals in
                    </h2>
                    <div class="arrivals__body">
                        <div class="countdown countdown_skin_board" id="new-year">
                            Dec 31, 2017
                        </div>
                    </div>
                </div>
            </section>
            <section class="page__companies partners">
                <div class="partners__wrap container">
                    <h2 class="partners__heading title">
                        Partners
                    </h2>
                    <div class="partners__list">
                        <div class="tiles tiles_width_25pct tiles_gap_20px">
                            <div class="tiles__item">
                                <img class="company" src="../content/partner_acer.jpg" alt="">
                            </div>
                            <div class="tiles__item">
                                <img class="company" src="../content/partner_asus.jpg" alt="">
                            </div>
                            <div class="tiles__item">
                                <img class="company" src="../content/partner_htc.jpg" alt="">
                            </div>
                            <div class="tiles__item">
                                <img class="company" src="../content/partner_lenovo.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="page__footer footer">
                <div class="footer__wrap container">
                    <div class="footer__info">
                        <div class="footer__copyright">
                            © 2525
                        </div>
                        <div class="footer__contacts contacts">
                            <div class="contacts__item">
                                <a class="channel channel_via_phone" href="tel:+12345678910">+1 (234) 567-89-10</a>
                            </div>
                            <div class="contacts__item">
                                <a class="channel channel_via_email" href="mailto:info@example.org">info@example.org</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__media social">
                        <a class="social__item net" href="#">
                            <img class="net__icon" src="../symbols/net_id_facebook.svg" width="40" height="40" alt="">
                        </a>
                        <a class="social__item net" href="#">
                            <img class="net__icon" src="../symbols/net_id_foursquare.svg" width="40" height="40" alt="">
                        </a>
                        <a class="social__item net" href="#">
                            <img class="net__icon" src="../symbols/net_id_vkontakte.svg" width="40" height="40" alt="">
                        </a>
                    </div>
                    <div class="footer__developer">
                        <a class="link" href="https://github.com/shchukin/template">Developed by Cypher</a>
                    </div>
                </div>
            </footer>
        </div>

        <!-- Modal -->
        <div class="window mfp-hide" id="login">
            <div class="window__heading title">
                Magnific Popup!
            </div>
            <button class="window__close mfp-close" type="button">
                Close
            </button>
            <div class="window__body">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor metus orci. Quisque non diam vitae eros gravida sodales. Nullam placerat ultrices facilisis. Donec tincidunt quis massa et ornare. In id ex ipsum. Suspendisse in ex sem.
            </div>
        </div>

        <!-- jQuery -->
        <script src="../vendors/jquery/jquery-3.2.1.min.js"></script>

        <!-- Outline.js -->
        <script src="../vendors/outline/outline.js"></script>

        <!-- SVG for everybody-->
        <script src="../vendors/svg4everybody/dist/svg4everybody.min.js"></script>

        <!-- Magnific popup-->
        <script src="../vendors/magnific-popup/dist/jquery.magnific-popup.min.js"></script>

        <!-- jQuery countdown -->
        <script src="../vendors/jquery.countdown/jquery.plugin.min.js"></script>
        <script src="../vendors/jquery.countdown/jquery.countdown.min.js"></script>
        <script src="../vendors/jquery.countdown/jquery.countdown-ru.js"></script>

        <!-- Temp -->
        <script src="../scripts/temp.js"></script>

    </body>
</html>