.article {

}
    .article__summary {

    }
        .article__heading {

        }

        .article__note {
            display: block;
            margin-top: 4px;
            color: #CCCCCC;
        }

        .article__preview {
            margin-top: 14px;
            vertical-align: top;
            background-color: #CCCCCC;
        }

    .article__content {
        margin-top: 50px;
    }

    .article__gallery {
        margin-top: 40px;
    }

    .article__additional {
        margin-top: 40px;
    }

    .article__foot {
        margin-top: 40px;
    }