.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
    .breadcrumbs__link {

    }

    .breadcrumbs__separator {
        margin-left: 4px;
        margin-right: 4px;
    }