.button {
    display: inline-block;
    vertical-align: top;
    border: none;
    padding: 11px 14px;
    background-color: #F08080;
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;
    line-height: 18px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.button:hover {
    background-color: #E07373;
}


.button:active {
    transform: translateY(1px);
}

