.footer {
    border-top: 1px solid #CCCCCC;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #FFFFFF;
}
    .footer__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
        .footer__info {

        }
            .footer__copyright {

            }

            .footer__contacts {
                margin: 10px 0 0;
            }

        .footer__social {

        }


        .footer__developer {

        }