.menu {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
    .menu__item {
        margin-top: 10px;
    }

    .menu__item:first-child {
        margin-top: 0;
    }
        .menu__link {
            display: block;
            padding: 10px 14px;
            background: rgba(255, 0, 0, 0.2);
            text-decoration: none;
        }