.breadcrumbs {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
    .breadcrumbs__item {
        margin: 0 0 0 20px;
        position: relative;
    }

    .breadcrumbs__item:first-child {
        margin-left: 0;
    }

    .breadcrumbs__item::before {
        content: "/";
        position: absolute;
        right: 100%;
        top: 0;
        margin: 0 8px 0 0;
    }

    .breadcrumbs__item:first-child::before {
        display: none;
    }

        .breadcrumbs__link {
            color: #999999;
        }
