.button {
    display: inline-block;
    vertical-align: top;
    border: none;
    padding: 4px 8px;
    background: var(--color_action_primary);
    border-radius: 4px;
    font-family: inherit;
    font-size: 12px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
}

.button:hover {
    background: var(--color_action_secondary);
    color: #EEEEEE;
}


.button_size_larger {
    padding: 8px 16px;
    font-size: 16px;
    line-height: 20px;
}