.channel {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-left: 30px;
    color: inherit;
}
    .channel::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 20px;
        height: 20px;
        background-repeat: no-repeat;
        background-position: center center;
    }

.channel_via_phone {
    text-decoration: none;
}


.channel_via_phone::before { background-image: url("../sprites/channel_via_phone.png"); }
.channel_via_email::before { background-image: url("../sprites/channel_via_email.png"); }

@media (min-resolution: 2dppx) {
    .channel_via_phone::before { background-image: url("../sprites/channel_via_phone@2x.png"); background-size: 100% 100%; }
    .channel_via_email::before { background-image: url("../sprites/channel_via_email@2x.png"); background-size: 100% 100%; }
}