.channel {
    position: relative;
    padding-left: 30px;
}

.channel_via_phone {

}

.channel_via_email {

}
    .channel:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        background-repeat: no-repeat;
    }

    .channel_via_phone:before {
        width: 20px;
        height: 20px;
        background-image: url(../sprites/channel_via_phone.png);
    }

    .channel_via_email:before {
        width: 20px;
        height: 20px;
        background-image: url(../sprites/channel_via_email.png);
    }


    @media
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi) {
        .channel_via_phone:before { background-image: url(../sprites/channel_via_phone@2x.png); background-size: 100% 100%; }
        .channel_via_email:before { background-image: url(../sprites/channel_via_email@2x.png); background-size: 100% 100%; }
    }