.downloads {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
    .downloads__item {
        margin-top: 10px;
    }

    .downloads__item:first-child {
        margin-top: 0;
    }