.file {
    display: inline-block;
    vertical-align: top;
    padding: 10px 0 10px 58px;
    position: relative;
    font-size: 16px;
    line-height: 28px;
    color: #999999;
}

.file_kind_doc {

}

.file_kind_pdf {

}

.file_kind_xls {

}
    .file:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-size: 100%;
    }
        .file_kind_doc:before { background-image: url(../sprites/file_kind_doc.png); }
        .file_kind_pdf:before { background-image: url(../sprites/file_kind_pdf.png); }
        .file_kind_xls:before { background-image: url(../sprites/file_kind_xls.png); }


        @media 
        (-webkit-min-device-pixel-ratio: 2), 
        (min-resolution: 192dpi) { 
            .file_kind_doc:before { background-image: url(../sprites/file_kind_doc@2x.png); }
            .file_kind_pdf:before { background-image: url(../sprites/file_kind_pdf@2x.png); }
            .file_kind_xls:before { background-image: url(../sprites/file_kind_xls@2x.png); }
        }