.file {
    position: relative;
    display: inline-block;
    vertical-align: top;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 58px;
    font-size: 16px;
    line-height: 28px;
    color: #999999;
}
    .file::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        display: block;
        width: 48px;
        height: 48px;
        background-repeat: no-repeat;
        background-position: center center;
    }


.file_kind_doc {

}

.file_kind_pdf {

}

.file_kind_xls {

}
    .file_kind_doc::before { background-image: url("../sprites/file_kind_doc.png"); }
    .file_kind_pdf::before { background-image: url("../sprites/file_kind_pdf.png"); }
    .file_kind_xls::before { background-image: url("../sprites/file_kind_xls.png"); }