.header {
    border-bottom: 1px solid #ccc;
    position: relative;
}
    .header__wrap {
        height: 100px;
        position: relative;
    }
        .header__logo {
            position: absolute;
            left: 0;
            top: 10px;
        }

        .header__search {
            position: absolute;
            left: 300px;
            top: 40px
        }

        .header__channels {
            position: absolute;
            right: 0;
            top: 20px;
        }