.header {
    background-color: #FFFFFF;
    border-bottom: 1px solid #CCCCCC;
}
    .header__wrap {
        height: 100px;
        position: relative;
    }
        .header__emblem {
            position: absolute;
            left: 0;
            top: 10px;
        }

        .header__search {
            position: absolute;
            left: 300px;
            top: 40px;
        }

        .header__user {
            position: absolute;
            right: 0;
            top: 36px;
        }