.input {

}
    .input__label {
        display: inline-block;
        margin: 0 0 8px;
    }

    .input__widget {
        height: 40px;
        padding: 10px 14px;
        background: #FFFFFF;
        border: 1px solid var(--color_text_secondary);
        background-clip: padding-box; /* reset iOS default shadow */
        border-radius: 0; /* reset iOS default border-radius */
        font-family: inherit;
        font-size: 12px;
        line-height: 18px;
        color: var(--color_text_primary);
    }

    /* stylelint-disable block-opening-brace-space-before */
    .input__widget::-webkit-input-placeholder       { font-style: normal; color: #B3B3B3; }
    .input__widget::-moz-placeholder                { font-style: normal; color: #B3B3B3; opacity: 1; }
    .input__widget:-ms-input-placeholder            { font-style: normal; color: #B3B3B3; }

    .input__widget:hover::-webkit-input-placeholder { color: #7E7E7E; }
    .input__widget:hover::-moz-placeholder          { color: #7E7E7E; }
    .input__widget:hover:-ms-input-placeholder      { color: #7E7E7E; }

    .input__widget:focus::-webkit-input-placeholder { color: #7E7E7E; }
    .input__widget:focus::-moz-placeholder          { color: #7E7E7E; }
    .input__widget:focus:-ms-input-placeholder      { color: #7E7E7E; }
    /* stylelint-enable */


.input_type_area {

}
    .input_type_area .input__widget {
        padding-top: 6px;
        padding-bottom: 6px;
        height: 60px;
    }