.input {

}
    .input__label {
        display: inline-block;
        vertical-align: top;
        margin-bottom: 4px;
    }

    .input__widget {
        width: 100%;
        height: 40px;
        padding: 10px 14px;
        background: #FFFFFF;
        border: 1px solid #B3B3B3;
        outline: none;
        background-clip: padding-box; /* reset iOS default shadow */
        border-radius: 0; /* reset iOS default border-radius */
        font-family: inherit;
        font-size: 12px;
        line-height: 18px;
        color: var(--color_text_primary);
    }

    .input__widget:hover {
        border-color: #7E7E7E;
    }

    .input__widget:focus {
        border-color: #333333;
    }

    /* stylelint-disable block-opening-brace-space-before */
    .input__widget::-webkit-input-placeholder       { font-style: normal; color: #B3B3B3; }
    .input__widget::-moz-placeholder                { font-style: normal; color: #B3B3B3; opacity: 1; }
    .input__widget:-ms-input-placeholder            { font-style: normal; color: #B3B3B3; }

    .input__widget:hover::-webkit-input-placeholder { color: #7E7E7E; }
    .input__widget:hover::-moz-placeholder          { color: #7E7E7E; }
    .input__widget:hover:-ms-input-placeholder      { color: #7E7E7E; }

    .input__widget:focus::-webkit-input-placeholder { color: #7E7E7E; }
    .input__widget:focus::-moz-placeholder          { color: #7E7E7E; }
    .input__widget:focus:-ms-input-placeholder      { color: #7E7E7E; }
    /* stylelint-enable */


.input_type_area {

}
    .input_type_area .input__widget {
        vertical-align: top;
        height: 60px;
        resize: vertical;
    }