.main {

}
    .main__wrap {
        display: flex;
        align-items: flex-start;
    }
        .main__sidebar {
            width: 280px;
            flex-shrink: 0;
            margin-right: 20px;
        }

        .main__content {
            width: 660px;
            flex-shrink: 0;
        }