.nav {
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #CCCCCC;
}
    .nav__wrap {

    }
        .nav__list {
            margin-left: -20px;
            display: flex;
        }
            .nav__link {
                display: block;
                padding: 20px;
            }