.page {

}
    .page__head {

    }

    .page__navigation {

    }

    .page__body {
        margin-top: 40px;
    }

    .page__additional-items {
        margin-top: 80px;
    }

    .page__new-items {
        margin-top: 80px;
    }

    .page__companies {
        margin-top: 80px;
    }


    .page__footer {
        margin-top: 80px;
    }