.table {
    width: 100%;
    background: #EEEEEE;
    border-collapse: collapse;
/*
    border-collapse: separate;
    border-spacing: 1px;
*/
}
    .table__section {

    }

    .table__section_part_head {
        background: #D5E1EE;
    }

    .table__section_part_body {

    }

    .table__section_part_foot {
        background: #D5E1EE;
    }
        .table__row {

        }

        .table__section_part_body .table__row:nth-child(odd) {
            background: #F4F4F4;
        }
            .table__cell {
                padding: 5px 10px 3px;
                border: 1px solid #FFFFFF;
                text-align: center;
            }