.title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: inherit;
    font-size: 22px;
    line-height: 28px;
}

.title_importance_higher {
    font-size: 26px;
    line-height: 32px;
}

.title_importance_lower {
    font-size: 18px;
    line-height: 24px;
}