.window {
    position: relative;
    width: 300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #FFFFFF;
}
    .window__close {
        position: absolute;
        right: 10px;
        top: 10px;
    }

    .window__heading {

    }

    .window__body {
        margin-top: 20px;
    }