.article {

}
    .article__head {

    }
        .article__title {

        }

        .article__note {
            display: block;
            margin: 10px 0 0;
            color: #ccc;
        }

        .article__preview {
            margin: 10px 0 0;
            vertical-align: top;
        }

    .article__body {
        margin: 50px 0 0;
    }

    .article__gallery {
        margin: 30px 0 0;
    }

    .article__additional {
        margin: 30px 0 0;
    }

    .article__foot {
        margin: 30px 0 0;
    }