.item-preview {

}
    .item-preview__stage {
        display: block;
    }
        .item-preview__image {
            vertical-align: top;
            width: 100%;
            height: auto;
        }

    .item-preview__title {
        margin: 10px 0 0;
        font-size: 20px;
    }
        .item-preview__link {

        }

    .item-preview__description {
        margin: 10px 0 0;
    }

    .item-preview__price {
        margin: 10px 0 0;
    }