.main {

}
    .main__wrap {
        display: flex;
    }
        .main__sidebar {
            flex: 0 0 280px;
            margin: 0 20px 0 0;
        }

        .main__content {
            flex: 0 0 660px;
        }