.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
    .page__header {

    }

    .page__nav {
        margin: 40px 0 0;
    }

    .page__body {
        margin: 40px 0 0;
        flex-grow: 1;
    }

    .page__related {
        margin: 80px 0 0;
    }

    .page__partners {
        margin: 80px 0 0;
    }

    .page__footer {
        margin: 80px 0 0;
    }