.social {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
    .social__item {
        margin: 0 0 0 10px;
    }

    .social__item:first-child {
        margin-left: 0;
    }

    .social__link {

    }