.table {
    width: 100%;
    background: #eee;
    border-collapse: collapse;
/*
    border-collapse: separate;
    border-spacing: 1px;
*/
}
    .table__section {

    }

    .table__section_part_head {
        background: #d5e1ee;
    }

    .table__section_part_body {

    }

    .table__section_part_foot {
        background: #d5e1ee;
    }
        .table__row {

        }

        .table__section_part_body .table__row:nth-child(odd) {
            background: #f4f4f4;
        }
            .table__cell {
                padding: 5px 10px 3px;
                border: 1px solid #fff;
                text-align: center;
            }


