*,
*:before,
*:after,
input[type="search"] {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


html {
    min-width: 1000px;
/*
    font-family: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    font-family: Verdana, Geneva, sans-serif;
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
*/
}
   body {
       background: #f5f2ed url(../images/background.jpg) repeat center top;
       font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
   }