$field-height: 24px;
$ie8-padding: 4px;

.field {
    display: inline-block;
    vertical-align: middle;
    height: $field-height - 2px; //cause borders
    width: 90px;
    padding: 0 9px;
    border: 1px solid #c3c3c3;
    border-radius: 2px;
    font-size: 12px;
    color: #333;

    .ie8 & {
        padding-top: $ie8-padding;
        height: $field-height - 2 - $ie8-padding;
    }
}

textarea.field {
    padding-top: 6px;
    padding-bottom: 6px;
    height: 60px;
    resize: vertical;
}


// placeholder styling

.field::-webkit-input-placeholder { color: #b3b3b3; }
.field::-moz-placeholder { color: #b3b3b3; }
.field:-ms-input-placeholder { color: #b3b3b3; }

.field:hover::-webkit-input-placeholder { color: #7e7e7e; }
.field:hover::-moz-placeholder { color: #7e7e7e; }
.field:hover:-ms-input-placeholder { color: #7e7e7e; }

.field:focus::-webkit-input-placeholder { color: #7e7e7e; @include transition(none); }
.field:focus::-moz-placeholder { color: #7e7e7e; @include transition(none); }
.field:focus:-ms-input-placeholder { color: #7e7e7e; @include transition(none); }


// _wide

.field_wide {
    width: 200px;
}

.field_narrow {
    width: 50px;
}