$region-width:  960px;
$region-padding: 20px;

.region {
    width: $region-width;
    padding-left:  $region-padding;
    padding-right: $region-padding;
    margin-left:  auto;
    margin-right: auto;
}

html {
    min-width: $region-width + (2*$region-padding);
}