.wysiwyg {

    p, ul, ol, hr, blockquote {
        margin: 1em 0 0;
        &:first-child { margin-top: 0; }
    }

    ul, ol {
        padding: 0 0 0 1.5em;
        &:first-child { margin-top: 0; }
    }

    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    blockquote {
        margin-left: 40px;
        margin-right: 40px;
    }

    img {
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }

    hr {
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $base-color;
    }

    h2 {
        font-size: 1.5em;
        line-height: 1;
        margin: 0.83em 0 0;
        color: $heading-color;
        &:first-child { margin-top: 0; }
    }

    h3 {
        font-size: 1.17em;
        line-height: 1.1;
        margin: 1em 0 0;
        color: $heading-color;
        &:first-child { margin-top: 0; }
    }

    h4 {
        font-size: 1em;
        line-height: 1.2;
        margin: 1.33em 0 0;
        color: $heading-color;
        &:first-child { margin-top: 0; }
    }

}